<div class="mb-1">
    <button type="button" *ngIf="this.user.type == 'userService'" (click)="cambiarVistaServicios('des')"
                    class="w-50 rounded-0 btn btn-dark">Descripción</button>
    <button type="button" *ngIf="this.user.type == 'userService'" (click)="cambiarVistaServicios('img')"
                    class="w-50 rounded-0 btn btn-dark">Imágenes</button>


    <button type="button" *ngIf="this.isUserProducts" class="w-100 rounded-0 btn btn-dark"
        (click)="cambiarVista('pro')">{{ activity }}</button>

    <div class="dropdown d-inline" *ngIf="this.isUserJobs">
        <button class="w-100 rounded-0 btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ activity }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button *ngFor="let job of this.jobs; let i = index" (click)="cargarOficio(i)" class="dropdown-item">{{ job.jobs.name }}</button>
        </div>
    </div>
</div>

<!--------------------------------------------OFICIOS---------------------------------------------------------->
<div class="text-center w-100 k-oficios-descr-container" *ngIf="this.isUserJobs">
    <div *ngFor="let job of this.jobs; let i = index; let isFirst = first" [ngClass]="{'d-none': i > 0}" id="{{ i }}"
        class="k-desc w-100">
        <h2>{{ job.jobs.name }}</h2>
        <p>{{ job.description }}</p>
    </div>
</div> 
<!--------------------------------------------OFICIOS---------------------------------------------------------->

<!---------------------------------------CARUSEL DE PRODUCTOS-------------------------------------------------->
<div id="productsUserProfile" *ngIf="this.isUserProducts" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#productsUserProfile" *ngFor="let item of this.products;let i = index; let isFirst = first"
            [ngClass]="{active:isFirst}" [attr.data-slide-to]="i"></li>
    </ol>

    <div class="carousel-inner k-carousel-inner">
        <div class="carousel-item" *ngFor="let item of this.products;let index = index;let isFirst = first"
            [ngClass]="{active:isFirst}">
            <img *ngIf="!item.image" src="../../../assets/img/banner.jpg" class="k-img-products d-block w-100 h-100"
                alt="...">
            <img *ngIf="item.image" src="{{url+'get-product-image/'+item.image}}"
                class="k-img-products d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{i}}</h5>
                <h5>{{item.name}}</h5>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#productsUserProfile" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productsUserProfile" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!---------------------------------------CARUSEL DE PRODUCTOS-------------------------------------------------->

<!---------------------------------------DESCRIPCION SERVICIOS-------------------------------------------------->
<div class="text-center" *ngIf="this.user.type == 'userService'" id="descripcionServicio">
    <p>{{service.description}}</p>
</div>
<!---------------------------------------DESCRIPCION SERVICIOS-------------------------------------------------->

<!---------------------------------------CARRUSEL SERVICIOS-------------------------------------------------->
<div id="serviceUserProfile" *ngIf="this.user.type == 'userService'" class="carousel slide d-none" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#productsUserProfile" *ngFor="let item of this.service.images;let i = index; let isFirst = first"
            [ngClass]="{active:isFirst}" [attr.data-slide-to]="i"></li>
    </ol>

    <div class="carousel-inner k-carousel-inner">
        <div class="carousel-item" *ngFor="let item of this.service.images;let index = index;let isFirst = first"
            [ngClass]="{active:isFirst}">
            <img *ngIf="!item" src="../../../assets/img/banner.jpg" class="k-img-products d-block w-100 h-100"
                alt="...">
            <img *ngIf="item" src="{{url+'get-service-image/'+item}}"
                class="k-img-products d-block w-100 h-100" alt="...">
        </div>
    </div>

    <a class="carousel-control-prev" href="#serviceUserProfile" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#serviceUserProfile" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!---------------------------------------CARRUSEL SERVICIOS-------------------------------------------------->

