<div class="container">
    <div class="k-container-register mx-auto">
        <h2 class="mt-5">Ingrese sus datos:</h2>
        <span *ngIf="this.status" class="my-4  alert alert-danger">
            {{ this.status }}
        </span>
        <form #locationUserForm="ngForm" (submit)="updateUserLocation()">
            <h5>Dirección</h5>
            <div class="form-group">
                <label for="country">País:</label>
                <input name="country" #country="ngModel" [(ngModel)]="userLocationInfo.country" required type="text"
                    class="form-control" id="country" aria-describedby="Pais">
            </div>
            <div class="form-group">
                <label for="state">Estado:</label>
                <input name="state" #state="ngModel" [(ngModel)]="userLocationInfo.state" type="text" required
                    class="form-control" id="state" aria-describedby="Estado">
            </div>
            <div class="form-group">
                <label for="city">Ciudad:</label>
                <input name="city" #city="ngModel" [(ngModel)]="userLocationInfo.city" type="text" required
                    class="form-control" id="city" aria-describedby="Ciudad">
            </div>
            <h5>Ingresa uno o todos los datos para calcular una nueva ubicación aproximada</h5>
            <div class="form-group">
                <label for="calle">Calle:</label>
                <input name="calle" #calle="ngModel" [(ngModel)]="this.userLocationInfo.street" type="text" required class="form-control"
                    id="calle" aria-describedby="Ciudad">
            </div>
            <div class="form-group">
                <label for="colonia">Colonia:</label>
                <input name="colonia" #colonia="ngModel" [(ngModel)]="this.userLocationInfo.suburb" type="text" class="form-control"
                    id="colonia" aria-describedby="Ciudad">
            </div>
            <div class="form-group">
                <label for="cp">Código postal:</label>
                <input name="cp" #cp="ngModel" [(ngModel)]="this.userLocationInfo.cp" type="text" class="form-control" id="cp"
                    aria-describedby="Ciudad">
            </div>
        </form>
    </div>

    <h5>Ubicación aproximada actual</h5>
    <app-location [lat]="userLocationInfo.lat" [lon]="userLocationInfo.lon"></app-location>

    <div class="text-right mt-3">
        <button class="btn btn-dark" (click)="updateUserLocation()">Guardar</button>
    </div>
</div>