    <header class="site-header inicio" style="width: 100%;">
        <div class="contenedor contenido-header">
            <div style="width: 100%;">
                
                <h1 style="color: rgb(255, 255, 255); margin-bottom: 40%; font-weight: 500; 
                    background-color: rgb(0, 0, 0, .3); width: max-content; 
                    margin-left: auto; margin-right: auto;">Conecta con otros usuarios
                </h1>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark btn-secondary btn-lg btn-block">Búsqueda</button>
                </div>
            </div>
        </div>
    </header>
    
    <br>
    <h2 class="d-flex justify-content-center">Sobre Koneksi</h2>
    <div class="pt-1 d-flex justify-content-center">
        <div class="p-3 d-inline-block">
            <div class="card" style="width: 18rem; height: 420px;">
                <img class="card-img-top" src="../../../assets/img/logo-pequeño.png" width="260px" height="200px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sobre nosotros</h5>
                  <p class="card-text">Koneksi es una empresa que surgió gracias a la visión emprendedora de sus fundadores.
                      El objetivo de Koneksi es desarrollar aplicaciones que faciliten la unión de personas.
                  </p>
                </div>
            </div>
        </div>

        <div class="p-3 d-inline-block">
            <div class="card" style="width: 18rem; height: 420px;">
                <img class="card-img-top" src="../../../assets/img/equipo.png" width="260px" height="200px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Equipo de desarrollo</h5>
                  <p class="card-text">El equipo de desarrollo de Koneksi tiene una visión innovadora que busca resolver
                      problemas existententes de formas diferentes a los paradigmas. 
                  </p>
                </div>
            </div>
        </div>

        <div class="p-3 d-inline-block">
            <div class="card" style="width: 18rem; height: 420px;">
                <img class="card-img-top" src="../../../assets/img/services.png" width="260px" height="200px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sobre nuestros servicios</h5>
                  <p class="card-text">Actualmente, el equipo de desarrollo de Koneksi está desarrollando una aplicación
                      que busca conectar a las personas que tengan alguna necesidad con otra persona que pueda satisfacerla.
                  </p>
                </div>
            </div>
        </div>

        <div class="p-3 d-inline-block">
            <div class="card" style="width: 18rem; height: 420px;">
                <img class="card-img-top" src="../../../assets/img/Futuro.png" width="260px" height="200px" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sobre nuestro futuro</h5>
                  <p class="card-text">Koneksi aspira a convertirse en una empresa que desarrolle aplicaciones que operen
                      a nivel mundial.
                  </p>
                </div>
            </div>
        </div>
    </div>