<div class="row">
    <div class="col-md-2 col-12" style="background-color: black;"></div>
    <div class="col-md-8 col-12">
        <div class="w-100">
            <div class="k-top">

                <!-----------------------------BANNER--NOMBRE--RATING---------------------------------------->
                <div *ngIf="this.user">
                    <app-main-info [isUserProducts]="this.isUserProducts" [user]="this.user"></app-main-info>
                </div>
                <!-----------------------------BANNER--NOMBRE--RATING---------------------------------------->

            </div>
            <div class="k-middle">
                <div class="row mt-5">
                    <div class="col-md-6">

                        <!-----------------------------MAPA---------------------------------------------------------->
                        <div *ngIf="this.user">
                            <app-location [lat]="+this.user.lat" [lon]="+this.user.lon"></app-location>
                        </div>
                        <!-----------------------------MAPA---------------------------------------------------------->

                    </div>
                    <div class="col-md-6">

                        <!-----------------------------CARUSEL---DESCRIPCION---------------------------------->
                        <div *ngIf="this.userJobsA">
                            <app-activity [isUserJobs]="this.isUserJobs" [jobs]="this.userJobsA"></app-activity>
                        </div>
                        <!-----------------------------CARUSEL---DESCRIPCION---------------------------------->
                    </div>
                </div>
            </div>
            <div class="k-bottom">
                <!-----------------------------COMENTARIOS-------------------------------------------------->
                <div *ngIf="this.userJobsA">
                    <app-comments [isUserJobs]="this.isUserJobs" [jobs]="this.userJobsA" [receiver]="this.user._id"></app-comments>
                </div>
                <!-----------------------------COMENTARIOS-------------------------------------------------->
            </div>
        </div>
    </div>
    <div class="col-md-2 col-12" style="background-color: black;"></div>
</div>