<div class="row">
    <div class="col-md-2 col-12" style="background-color: black;"></div>
    <div class="col-md-8 col-12">
        <div class="w-100">
            <div class="k-top">

                <!-----------------------------BANNER--NOMBRE--RATING---------------------------------------->
                <app-main-info></app-main-info>
                <!-----------------------------BANNER--NOMBRE--RATING---------------------------------------->

            </div>
            <div class="k-middle">
                <div class="row mt-5">
                    <div class="col-md-6">

                        <!-----------------------------MAPA---------------------------------------------------------->
                        <app-location></app-location>
                        <!-----------------------------MAPA---------------------------------------------------------->

                    </div>
                    <div class="col-md-6">

                        <!-----------------------------CARUSEL---DESCRIPCION---------------------------------->
                        <app-activity></app-activity>
                        <!-----------------------------CARUSEL---DESCRIPCION---------------------------------->

                    </div>
                </div>
            </div>
            <div class="k-bottom">
                <!-----------------------------COMENTARIOS-------------------------------------------------->
                <app-comments></app-comments>
                <!-----------------------------COMENTARIOS-------------------------------------------------->
            </div>
        </div>
    </div>
    <div class="col-md-2 col-12" style="background-color: black;"></div>
</div>