<div class="k-navigation col-lg-12">
  <nav class=" py-0 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img class="k-logo" src="../assets/img/Koneksi.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <div class="w-100">

        <!-------------------FORM VISTO DESDE ESCRITORIO--------------->
        <form class="k-FormFull form-inline my-2 my-lg-0">
          <div class="mx-md-auto w-50">
            <input class="form-control mr-sm-2" style="width: 80%;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <!--------------------FORM VISTO DESDE EL CELULAR--------------->
        <form class="k-FormMobile form-inline my-2 my-lg-0">
          <div class="mx-md-auto w-100">
            <input class="form-control" style="width: 100%;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
        <!-------------------------------------------------------------->

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mt-1">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  mt-1">
          <a class="nav-link" href="#">Ingresa</a>
        </li>
        <li class="nav-item  mt-1">
          <a class="nav-link" href="#">Regístrate</a>
        </li>
        <li class="nav-item  mt-1">
          <a class="nav-link" href="#">Contactanos</a>
        </li>
        <li class="nav-item dropdown  dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="k-avatar" src="../assets/img/user.png" alt="">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mi perfil</a>
            <a class="dropdown-item" href="#">Configuración</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
</div>


<!--CARGA AQUI LOS COMPONENTES DE LAS RUTAS-->
<router-outlet></router-outlet>