<div class="k-navigation col-lg-12">
  <nav class=" py-0 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img class="k-logo" src="../assets/img/Koneksi_Blanco.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link"[routerLink]="['/login']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="!identity"  class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Ingresa</a>
        </li>
        <li *ngIf="!identity" class="nav-item">
          <a class="nav-link" [routerLink]="['/register-election']">Regístrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Contáctanos</a>
        </li>
        <li *ngIf="identity" class="nav-item dropdown  dropleft">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img *ngIf="identity.image" class="k-avatar" src="{{url+'get-image-profile/'+identity.image}}" alt="">
            <img *ngIf="!identity.image" class="k-avatar" src="../assets/img/user.png" alt="">
            <span>{{identity.name}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="btn dropdown-item" (click)="perfil()">Mi perfil</a>
            <a class="btn dropdown-item">Configuración</a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="btn dropdown-item">Cerrar sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
</div>

<div class="container-fluid mt-5 h-100">
  <!--CARGA AQUI LOS COMPONENTES DE LAS RUTAS-->
  <router-outlet></router-outlet>

  
  <footer class="mt-2 bg-dark">
    <div class="row p-4 k-footer w-95 m-auto">
      <div class="col-md-3 col-12 text-center">
        <a href="#">
          <img class="k-logo-empresa" src="../assets/img/Logo_Empresa_Blanco.png" alt="">
        </a>
        <small>&copy; Copyright 2020, Koneksi Developers Company</small>
      </div>
      <div class="col-md-2 col-12">
        <ul>
          <li>Aviso de privacidad</li>
          <li>Acerca de nosotros</li>
          <li>Historia</li>
          <li>Términos y condiciones</li>
          <li>Contacto</li>
        </ul>
        
      </div>
      <div class="col-md-7 col-12 p-3 k-redes-sociales">
          <p class="text-center">¡Síguenos en nuestras redes sociales!</p>
          <p class="text-center">Nos importa tu opinión y en caso de que tengas alguna duda con gusto te atenderemos</p>
          <a href="#" class="kf py-0"><i class="fab fa-facebook"></i></a>
          <a href="#" class="kf py-0"><i class="fab fa-twitter"></i></a>
          <a href="#" class="kf py-0"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- Redes sociales en vertical -->
      <!--
      <div class="col-md-1 col-12">
        <a href="#" class="kf d-block p-0"><i class="fab fa-facebook"></i></a>
        <a href="#" class="kf d-block p-0"><i class="fab fa-twitter"></i></a>
        <a href="#" class="kf d-block p-0"><i class="fab fa-instagram"></i></a>
      </div>
      -->
      <!-- Redes sociales en vertical -->
    </div>
  </footer>
</div>