<img class="img-fluid" *ngIf="!this.user.cover_page" src="../../../../assets/img/banner.jpg" alt="">
<img class="img-fluid" *ngIf="this.user.cover_page" src="{{ url + 'get-image-cover/' + this.user.cover_page }}" alt="">
<div class="row">
    <div class="col-md-4 text-center">
        <img *ngIf="!this.user.image" src="../../../../assets/img/user.png" class="k-profile-avatar" alt="">
        <img *ngIf="this.user.image" src="{{url+'get-image-profile/'+this.user.image}}" class="k-profile-avatar" alt="">
    </div>
    <div class="text-center col-md-6 p-0 mt-4">
        <p class="k-profile-name">{{this.user.name + " " + this.user.surname}}</p>
    </div>
    <div class="col-md-2 mt-4 text-center">
        <div class="m-1">
            <div class="m-1" *ngIf="this.rating">
                <div class="d-inline" *ngFor="let valor of this.ratingMax; let i = index">
                    <i  [ngClass]="{'fas fa-star': i < this.rating.promedio}"   class="" ></i>
                </div>
                <div class="d-inline" *ngFor="let valor of this.ratingMax; let i = index">
                    <i  [ngClass]="{'far fa-star': i >= this.rating.promedio}"   class="" ></i>
                </div>
            </div>
        </div>
    </div>
</div>