<img class="img-fluid" *ngIf="!this.user.cover_page" src="../../../../assets/img/banner.jpg" alt="">
<img class="img-fluid" *ngIf="this.user.cover_page" src="{{this.user.cover_page[0].url }}" alt="">
<div class="row">
    <div class="col-md-4 text-center">
        <img *ngIf="!this.user.image" src="../../../../assets/img/user.png" class="k-profile-avatar" alt="">
        <img *ngIf="this.user.image" src="{{this.user.image[0].url}}" class="k-profile-avatar" alt="">
    </div>
    <div class="text-center col-md-5 p-0 mt-4">
        <p class="k-profile-name">{{this.user.name + " " + this.user.surname}}</p>
    </div>
    <div class="col-md-3 mt-4 text-center">
        <div class="m-1">
            <div class="m-1 k-stars" *ngIf="this.rating">
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="subirRating(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                        <i class="fa fa-star"></i>
                    </li>
                </ul>
            </div>
            <div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                    Ver información
                </button>

                <!-- Modal -->
                <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ this.user.name + " " + this.user.surname }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Correo: {{ this.user.email }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>