<div class="container">
    <div class="row k-container-products">

        <div class="col-md-4"></div>
        <div class="col-md-4 my-auto">
            <div>
                <h4 class="text-center mt-3">Seleccione el número de productos que desea agregar:</h4>
            </div>
            <div *ngIf="this.numberProducts == 0 && this.isSelected">
                <h5 class="text-center mt-3 bg-danger p-3 text-white ">No hay productos agregados.</h5>
            </div>
            <div>
                <div class="form-row">
                    <input type="number" [(ngModel)]="this.numberProducts" name="np" #np="ngModel" class="form-control mt-5" id="">
                </div>
                <div class="form-row">
                    <div class="col-6 text-center">
                        <input type="button" class="btn mt-3 btn-dark" [routerLink]="['/register-election']" routerLinkActive="router-link-active"  value="Regresar">
                    </div>
                    <div class="col-6 text-center">
                        <input type="button" class="mt-3 btn btn-dark" (click)="siguiente()" value="Continuar">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
